table, th, td{
    border: 1px solid black;
    border-collapse: collapse;
}
table{
    width: 50%;
    margin: 0 auto;
    font-size: 1.5em;
}
thead th{
    background-color: green;
    color: white;

}
tbody td{
    text-align: center;

}
tbody tr:nth-child(odd){
    background-color: antiquewhite;
}
tbody td:hover{
    background-color: white;
}