.left-bar{
    width: 200px;
    float:left;
}
.content{
    width: 800px;
    float: left;
}
.container{
    width: 1000px;
    margin: 0px auto;
}
.bg-green{
    background-color: green;
}
.bg-blue{
    background-color: blue;
}
.bg-crimson{
    background-color: crimson;
}
.card{
    width: 20%;
    float:left;
    padding: 5%;
    margin-right: 3%;
    border-top-left-radius: 60px;
    border-bottom-right-radius: 60px;
    border-top-right-radius: 10px;
    
    
    background-color: aqua;
    
}