html{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*::before,
*::after{
    box-sizing: inherit;
}
body
{
    font-size: 1.6rem;
}
.navbar a{
    text-decoration: none;
    color: #c3c3c3;
    padding: 10px 20px;
    
}
.navbar{
    display: flex;
    background-color: black;
}
.navbar a:hover{
    background-color: #f2f2f2;
}
@media screen and (max-width:600px) {
    .navbar{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    
}