*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}

body{
    background-color: gray;
}
.container{
    background-color: #fff;
    max-width: 66%;
    margin: 0px auto;
}

.nav-bar{
    display: grid;
    font-size: 1.6rem;
    grid-template: 3rem /repeat(5, 7rem);
    align-items: center;
    padding-left: 2rem;
    background-color: aqua;
    text-align: center;
}
a{
    text-decoration: none;
    color: crimson;
    padding-right: 0.5rem;
}
.header{
    display: flex;
    justify-content: space-between;
    background-color: antiquewhite;
    height: auto;
    align-items: center;
}
.header h1{
    text-align: center;
    
}
.main{
    display: flex;
    justify-content: space-between;
}
.aside{
    display: flex;
    flex-flow: column;
    background-color: aqua;
    
    
}
.aside a{
    margin: 1rem 0px;
}
.article{
    background-color:burlywood ;
}
.footer{
    background-color: blanchedalmond;
    display: flex;
    justify-content: space-between;
    height: 3rem;
    align-items: center;
}
#deneme{}