*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: fuchsia;
    overflow: hidden;
}
ul{
    display: flex;
    
    align-items: center;
    text-decoration: none;
    list-style-type: none;
    overflow: hidden;
}
li{
    margin: 0px 5px;
    overflow: hidden;
}
::placeholder{
    text-align: center;
    background-image: url(medium\ \(2\).png);
    background-repeat: no-repeat;
    background-size: cover;
    
}
input{
    text-align: center;
}
.container{
    overflow: hidden;
    
    height: 900px;
    max-width: 66%;
    margin: 0px auto ;
    display: grid;
    /* grid-template-rows: 100px 100px;
    grid-template-columns: 1fr 1fr 1fr; */
    grid-template: 75px 800px 120px / 0.8fr 2fr 1fr ;
    gap: 20px 10px;
    grid-template-areas: "header header header"
                         "menu aside main"   
                         "footer footer footer"
    /*  grid-template: rows / colums */
    /* row-gap: 10px;
    column-gap:10px; */
    /* gap: 25px  5px; */
    /* gap: row-gap / column gap */
}

a{
    text-decoration: none;
    color: black;

}
.box-1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
   
    /* grid-column-start:1 ;
    grid-column-end: 3; */
    /* grid-column: 1/3; */
    /* grid-row-start: 1;
    grid-row-end: 2; */
    /* grid-row: 1/2; */
    grid-area: header;

}   
.box-2{
    
    grid-area: menu;
}
.box-3{
    grid-area:aside;
}
.box-4{
    grid-area: main;
}
.box-5{
    grid-area:item;
}
.box-6{
    grid-area:footer;
}







.shadow{
    -webkit-box-shadow: 0px 4px 16px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 4px 16px 1px rgba(0,0,0,0.75);
    box-shadow: 0px 4px 16px 1px rgba(0,0,0,0.75);
}

.bg-warning{
    background-color: red;
}
.bg-primary{
    background-color: aqua;
}
.bg-secondary{
    background-color: bisque;
}
.bg-success{
    background-color: green;
}
.btn{
    padding: 10px 20px;
}
.border-none{
    border: none;
}
.rounded-per-50{
    border-radius: 30px;
}

.box-5{
    background-color: chocolate;
}
.box-6{
    background-color: cornflowerblue;
    
    
}
