div{
    background-color: blue;
    width: 15rem;
    height: 15rem;
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin: 0px auto;
}
div{
    position: relative;
    transform: translate(50px,30px);
}
div::after{
    content: "AFTER";
    position: absolute;
    top: 0;
    left: 50%;
    color: black;
    background-color: bisque;
    transform: translate(-50%);
}