*{
    margin: 0   ;
    padding: 0  ;
    box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6{
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    color: #585858;
}     
title{color: green;}
.text-red{
    color: red;
}
#article-1, #article-2, #article-3{
    padding: 20px;
    width: 300px;
}
#article-1{
    background-color: #333300;
    
}
#article-2{
    background-color: antiquewhite;

}
#article-3{
    background-color: aquamarine;
}
main{
    display: flex;
    justify-content: center;
}
