*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #f2f2f2;
}
li{
    list-style-type: none;
}
.nav{
    height: 4rem;
    padding: 0 1rem;
    background-color: bisque;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-dark{
    color: #f2f2f2;
    background-color: #020202;
}
.listItems{
    display: flex;
    gap: 1rem;
}
button{
    padding: 10px 20px;
    background-color: #f2f2f2;
    color: #020202;
    outline: none;
    border: 1px solid #020202;
    border-radius: 30px;
    cursor: pointer;
}
.button-container{
    text-align: center;
    margin-top: 3rem;
}
.button-dark{
    color: #f2f2f2;
    background-color: #020202;
}
.form{
    text-align: center;
    margin: 2rem 0;
}

.logIn{
    text-align: center;
    margin-top: 3rem;
}