*{
    margin: 0;
    padding: 0;
    
}
html{
    
}



.container{
    background: green url(görseldeneme.jpeg) no-repeat right top;
    height:20rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
    color: rebeccapurple;
    background-size: cover;
    border-radius: 10rem;
}

table, tr, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 1rem 2rem;
    
}
table{
    margin: 0px auto;
    text-align: center;
}
th{
    color:brown;
}
thead tr{
    background-color:blueviolet ;
}
tbody tr:nth-child(2n-1){
    background-color: green;
}

tbody tr td:hover{
    background-color: gray;
    color:wheat
}

a:active{
    color:green;
}

a:link{
    color: red;
}

.container2{
    background-color: aqua;
    height: 10rem;
    display:flex;
    
    

    
}
.article{
    background-color: bisque;
}
.section{
    background-color: blue;
}
.other{
    background-color: blueviolet;
}
.container2 div:nth-child(1){
    flex-grow:2;
}
m
.container2 div:nth-child(2){
    flex-grow: 1;
}
.container2 div:nth-child(3){
    flex-grow:1;
}
body{
    background-color: black;
}
@media screen and (max-width:800px) {
    body{
        background-color: red;
    }
}
@media screen and (max-width:400px) {
    body{
        background-color: blanchedalmond;
    }
}