*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --bg-color: #fff;
    --bg-light: #eee;
    --text-primary: #111;
    --text-secondary: #757575;
}
body.dark{
    --bg-color: #0c0e10;
    --bg-light: #111;
    --text-primary: #fff;
    --text-secondary: #eee;
}
body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    width: 66%;
    margin: 0px auto;
    background-color: var(--bg-color);
    color: var(--text-primary);
}
.container{
    text-align: center;
}
h1{
    margin: 2rem;
    color: var(--text-primary);
}
p{
    margin-bottom: 2rem;
    color: var(--text-secondary)
}
.btn{
    padding: 0.5rem 1.5rem;
    border-radius: 0.75rem;
    border: 1px solid var(--bg-color);
    cursor: pointer;

}
.btn:hover{
    background-color: black;
    color: wheat;

}
