*{
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --bg-color: #fff;
    --txt-primary: black;
    --txt-secondary: gray;
}
body.dark{
    --bg-color: black;
    --txt-primary:white;
    --txt-secondary: wheat;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 66%;
    margin: 0px auto;
    background-color: var(--bg-color);
}
.container{
    text-align: center;
}
h1{
    margin:2rem;
    color: var(--txt-primary);
}
p{
    margin-bottom: 2rem;
    color:var(--txt-secondary)
}
#btn{
    padding: 0.5rem 1.25rem;
    border-radius: 1.25rem;
    border: 1px solid white;
    color: #fff;
    cursor: pointer;
}
#btn:hover{
    background-color: bisque;
    color: var(--txt-primary);
}
